.candy-crush-wrapper{
    width: 480px;
    height: 480px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    @media (max-width:600px) {
        width: 320px;
        height: 320px;
    }
    img{
        width: 60px;
        height: 60px;
        @media (max-width:600px) {
            width: 40px;
            height: 40px;
        }
    }
}
.center-text{
    text-align: center;
    margin-top: 30px;
}