.snake-board{
    position: relative;
    width: 400px;
    height: 400px;
    outline: 1px solid black;
    margin: 80px auto;
    .overlay{
        background-color: rgb(141, 151, 132);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0.6;
        span{
            width: 40px;
            height: 100px;
            top: 50%;
            left: 50%;
            position: absolute;
            background-color: black;
            &:nth-child(1){
                transform: translate(10%,-50%);
            }
            &:nth-child(2){
                transform: translate(-110%,-50%);
            }
        }
    }
    .snake-element{
        position: absolute;
        width: 2%;
        height: 2%;
        top: 2%;
        &:nth-child(1){
            border-radius: 50%;
        }
    }
    .score-display{
        position: relative;
        top: -20px;
    }
    .food{
        position: absolute;
        width: 2%;
        height: 2%;
        top: 2%;
        background-color: red;
    }
}
.snake-menu{
    position: relative;
    width: 400px;
    height: 400px;
    border: 4px solid #163805;
    margin: 80px auto;
    padding: 80px;
    border-radius: 14% 86% 16% 84% / 69% 17% 83% 31% ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    h1{
        font-size: 2.2rem;
    }
    .new-game-button{
        background-color: #163805;
        color: white;
        padding: 8px 16px;
        cursor: pointer;
    }
    .difficulty-button{
        border: none;
        background-color: transparent;
        text-decoration: underline;
        margin: 0 3px;
        cursor: pointer;
        &.active{
            font-weight: bold;
        }
    }

}